@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  background-color: gray;
  margin-top: 40px;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: red;
}

.img {
  position: relative;
  width: 100%;
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #3f3f46;
}

.img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/images/hero_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(0%) brightness(60%);
  z-index: 1;
  opacity: 1;
}

.img > * {
  position: relative;
  z-index: 2;
}

.imgTop {
  position: relative;
  width: 100%;
  gap: 7px;
  overflow: hidden;
  background-color: #3f3f46;
}
.imgTop::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/images/hero_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(0%) brightness(60%);
  z-index: 1;
  opacity: 1;
}

.imgTop > * {
  position: relative;
  z-index: 2;
}
.page3 {
  width: 100%;
  background-color: white;
  overflow: hidden;
  position: relative;
}

.text {
  font-size: 160px;
  color: black;
  font-weight: bolder;
  white-space: nowrap;
  position: relative;
}
